.DS_Store
artint/data/
/artint/src/features/__pycache__
/extract/__pycache__
/gathering/__pycache__
/utilities/__pycache__
venv
*.env
.vscode
**/__pycache__
artint/src/setbuilder/mlflow.db
artint/src/common/*
artint/src/common/*
!artint/src/common/deep_preprocessing.ipynb
!artint/src/common/phishformer.ipynb
!artint/src/common/graphhtmlcnn.ipynb
!artint/src/common/mlflow.ipynb
