.control {
    padding-top: var(--mantine-spacing-sm);
}

.input {
    display: flex;
    padding-bottom: var(--mantine-spacing-sm);
}

.box {
    flex-grow: 1;
    padding-right: var(--mantine-spacing-sm);
}
