USAGE: 
- Copy the content below into a new file called keys.env (to be stored locally)
- Add your keys/access/secret values below without spaces
- Ensure your keys.env file remains local and is not committed to the Git repository
- Remove lines 1-5 (comments are not supported in .env files)

URLSCAN_API_KEY=
GOOGLE_SAFE_BROWSING_API_KEY=
MINIO_ACCESS=
MINIO_SECRET=
SERVER_IP=
PORT_NO=
ELASTICSEARCH_HOST=
ELASTICSEARCH_INDEX=
S3_HOST=
S3_BUCKET=